<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- !&#45;&#45;允许程序打开网络套接字&ndash;&gt; -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Two_5164"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".container.ETC_ye64"
            android:exported="false" />
        <activity
            android:name=".container.ETC_czjl_64"
            android:exported="false" />
        <activity
            android:name=".container.ETC_cz64"
            android:exported="false" />
        <activity
            android:name=".MainActivity_64"
            android:exported="false" />
        <activity
            android:name=".container.ZFYM_63"
            android:exported="false" />
        <activity
            android:name=".container.GWC_63"
            android:exported="false" />
        <activity
            android:name=".container.XXXX_63"
            android:exported="false" />
        <activity
            android:name=".MainActivity_63"
            android:exported="false" />
        <activity
            android:name=".MainActivity_62"
            android:exported="false" />
        <activity
            android:name=".MainActivity_61"
            android:exported="false" />
        <activity
            android:name=".container.CXJG_59"
            android:exported="false" />
        <activity
            android:name=".container.YHSC_54"
            android:exported="false" />
        <activity
            android:name=".container.SPBF_59"
            android:exported="false" />
        <activity
            android:name=".MainActivity_59"
            android:exported="false" />
        <activity
            android:name=".MainActivity_60"
            android:exported="false" />
        <activity
            android:name=".MainActivity_58"
            android:exported="false" />
        <activity
            android:name=".MainActivity_57"
            android:exported="false" />
        <activity
            android:name=".container.X_SSJT_56"
            android:exported="false" />
        <activity
            android:name=".MainActivity_56"
            android:exported="false" />
        <activity
            android:name=".two_55"
            android:exported="false" />
        <activity
            android:name=".one_55"
            android:exported="false" />
        <activity
            android:name=".MainActivity_55"
            android:exported="false" />
        <activity
            android:name=".container.YHSC_54"
            android:exported="false" />
        <activity
            android:name=".MainActivity_54"
            android:exported="false" />
        <activity
            android:name=".MainActivity_53"
            android:exported="false" />
        <activity
            android:name=".MainActivity_51"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="41981b751db9b1f32d8dd03b3f56d4d8" />
    </application>

</manifest>